@charset "utf-8";
.blank {
	height: 181px;
	background-color: #FFF;
	display: none;
}

#header_top {
	padding-top: 10px;
}

#header_top a {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	color: #D6D6D6;
}

#header_top #for_report {
	padding-left: 30px;
	color: #FFF000;
}
#logo {
  width: 100%;
  height: 145px;
  background: #3F3B3A;
  text-align: center;
  border-bottom: 1px solid #333;
  padding: 10px 0 20px 0; }
  
  #logo a {
    padding: 30px;
    height: 100%; }
    #logo a img {
      height: 100%; }
      
#login {
  text-align: center;
  padding: 3px 5px; }
  
.navbar {
  background: #3F3B3A;
  margin-bottom: 0;
  border: 0; }
  
.navbar-toggle {
  background: #333; }

.navbar-toggle:hover {
  background: #CCC; }
  
.icon-bar {
  background: #FFF; }