@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vq5cr0');
  src:  url('fonts/icomoon.eot?vq5cr0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vq5cr0') format('truetype'),
    url('fonts/icomoon.woff?vq5cr0') format('woff'),
    url('fonts/icomoon.svg?vq5cr0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mine2:before {
  content: "\e900";
}
.icon-agreewith:before {
  content: "\e901";
}
.icon-arrow_left:before {
  content: "\e902";
}
.icon-arrow_right:before {
  content: "\e903";
}
.icon-classification_activity:before {
  content: "\e904";
}
.icon-classification_ask:before {
  content: "\e905";
}
.icon-classification_case:before {
  content: "\e906";
}
.icon-classification_deep:before {
  content: "\e907";
}
.icon-collection:before {
  content: "\e908";
}
.icon-comment:before {
  content: "\e909";
}
.icon-comment2:before {
  content: "\e90a";
}
.icon-comment3:before {
  content: "\e90b";
}
.icon-comment4:before {
  content: "\e90c";
}
.icon-company:before {
  content: "\e90d";
}
.icon-email_circle:before {
  content: "\e90e";
}
.icon-email:before {
  content: "\e90f";
}
.icon-exit:before {
  content: "\e910";
}
.icon-fire:before {
  content: "\e911";
}
.icon-goodat:before {
  content: "\e912";
}
.icon-home:before {
  content: "\e913";
}
.icon-information:before {
  content: "\e914";
}
.icon-label:before {
  content: "\e915";
}
.icon-like:before {
  content: "\e916";
}
.icon-location:before {
  content: "\e917";
}
.icon-mine:before {
  content: "\e918";
}
.icon-nav0:before {
  content: "\e919";
}
.icon-nav1:before {
  content: "\e91a";
}
.icon-nav2:before {
  content: "\e91b";
}
.icon-personal-center:before {
  content: "\e91c";
}
.icon-qq_circle:before {
  content: "\e91d";
}
.icon-qq:before {
  content: "\e91e";
}
.icon-renren_circle:before {
  content: "\e91f";
}
.icon-reply:before {
  content: "\e920";
}
.icon-report:before {
  content: "\e921";
}
.icon-rss:before {
  content: "\e922";
}
.icon-search:before {
  content: "\e923";
}
.icon-sina_nobg:before {
  content: "\e924";
}
.icon-sina:before {
  content: "\e925";
}
.icon-sinaweibo_circle:before {
  content: "\e926";
}
.icon-subscribe:before {
  content: "\e927";
}
.icon-time:before {
  content: "\e928";
}
.icon-top:before {
  content: "\e929";
}
.icon-txweibo_circle:before {
  content: "\e92a";
}
.icon-wechat_circle:before {
  content: "\e92b";
}
.icon-wechat:before {
  content: "\e92c";
}
.icon-wechat2:before {
  content: "\e92d";
}
.icon-xian:before {
  content: "\e92e";
}
.icon-zhubanren:before {
  content: "\e92f";
}
.icon-zhubanren2:before {
  content: "\e930";
}

